.git
.gitignore
.vscode
__pycache__
dataset/__pycache__
.venv
env
venv
ENV
results
runs
*.ipynb
*.avi
*.jpg
*.png
*.csv
*.yaml
dataset/data.yaml
yolo26m.pt
yolo26s.pt
yolov8n-face.pt
yolov11n-face.pt
!dataset/data.yaml.example
!yolo26n.pt
